/* style.css */

/* Set background color */
body {
    background-color: #3b12e1; /* Example background color (light gray) */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #3b12e1;
}

.questions {
    margin-bottom: 20px;
}

.questions label {
    display: block;
    margin-bottom: 10px;
}

#analyze-btn {
    padding: 10px 20px;
    background-color: #08ca0f;
    color: rgb(212, 15, 15);
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
}
